# Build artifacts
*.exe
*.obj
*.o
*.pdb
*.ilk
*.idb
*.pch
*.sbr
*.sdf
*.VC.db
.vs/
x64/
Debug/
Release/

# OS / editor
Thumbs.db
Desktop.ini
.DS_Store
*.user
*.suo

# Local run redirects
run_out.txt
run_err.txt

